.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.event-item:hover {
  background-color: var(--light-primary-color);
  transform: scale(1.01);
}

.event-title {
  font-size: 1.1rem;
  flex-grow: 1;
  position: relative;
}

.event-title::before {
  content: attr(data-title); /* Use the same content */
  position: absolute;
  white-space: nowrap;
  animation: scroll-title 10s linear infinite;
}

@keyframes scroll-title {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .event-item {
    padding: 4px 2px;
  }

  .event-title {
    font-size: .8rem;
  }
}

.past-event-title {
  color: #e1dbdb; /* Grey color for past event titles */
  text-decoration: line-through; /* Strikethrough for past event titles */
}

.event-dropdown {
  margin-left: 10px;
}

.dropdown-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.dropdown-icon:hover {
  transform: rotate(20deg);
}

.dropdown-item-option {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item-option:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}
