.event-search-row {
  display: flex;
  align-items: flex-end !important;
  gap: 20px;
}

.event-search-col {
  display: flex;
  flex-direction: column;
}

.input-flex {
  flex: 1;
}

.input-with-clear {
  display: flex;
  max-width: auto;
  position: relative;
}

.input-with-clear .form-control {
  flex: 1;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.clear-icon:hover {
  color: #000;
}

.btn-search {
  background-color: var(--primary-color) !important;
}

.btn-search:hover {
  background-color: var(--secondary-color) !important;
}

.event-search-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.event-search-container {
  display: flex;
  width: 100%;
}

.event-search-form {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.event-search-form .input-with-clear {
  display: flex;
  align-items: flex-end !important;
}

.event-search-form .btn {
  margin-bottom: 2px;
}