.input-with-clear {
  position: relative;
}

.input-with-clear .form-control {
  padding-right: 30px;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.clear-icon:hover {
  color: #000;
}
