.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.calendar {
  height: 600px;
  position: relative; /* Necesario para que z-index funcione */
  z-index: 1;
}

.calendar-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}

.calendar-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-color: var(--secondary-color);
}

.event-search-form {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.event-search-form .row {
  align-items: flex-end;
}

.event-search-form .btn {
  margin-top: 24px;
}

.create-event-btn {
  position: relative;
  z-index: 2; /* Mayor valor de z-index para estar encima del calendario */
}

.rbc-event {
  cursor: pointer;
  background-color: var(--primary-color) !important;
  color: #fff;
}

.rbc-today {
  background-color: #def0f4 !important;
  position: relative;
}

.today-indicator {
  position: absolute;
  background-color: var(--primary-color);
  color: #fff;
  padding: 2px 5px;
  border-radius: 0 0 0 5px;
  font-size: 0.8rem;
}
