/* Paleta de Colores */
:root {
  --primary-color: #d40816;
  --secondary-color: #bc0915;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

html {
  box-sizing: border-box;
  font-size: 62.5% !important; /*1 rem == 10px*/
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Tipografía */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
  }
}

/* Estilos Generales */
.container {
  margin-top: 20px;
}

.text-right {
  text-align: right;
}

button,
.btn {
  background-color: var(--primary-color);
  color: #fff;
  border: none; /* Eliminar el borde */
  box-shadow: none; /* Eliminar la sombra */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

button:hover,
.btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05); /* Efecto de agrandamiento al pasar el ratón */
}

button:focus,
.btn:focus {
  outline: none; /* Eliminar el contorno azul al enfocar */
  box-shadow: none; /* Eliminar la sombra */
}

button:active,
.btn:active {
  background-color: var(--secondary-color);
  transform: scale(1.1); /* Efecto de agrandamiento al hacer clic */
}

button:disabled,
.btn:disabled {
  background-color: #ccc; /* Color gris para botones deshabilitados */
  color: #666;
}

.form-label {
  color: var(--text-color);
}

.form-control {
  border-color: var(--text-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(227, 5, 19, 0.25);
}

/* Estilos para selectores estándar */
select.form-control {
  border-color: var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

select.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(227, 5, 19, 0.25);
}

/* Estilos para react-select */
.css-2b097c-container {
  .react-select__control {
    border-color: var(--primary-color);
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .react-select__control--is-focused {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(227, 5, 19, 0.25);
  }

  .react-select__menu {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .react-select__option--is-focused {
    background-color: var(--primary-color);
    color: #fff;
  }

  .react-select__option--is-selected {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
}

.modal-body {
  background-color: var(--background-color);
}

/* Estilos específicos para el calendario */
.calendar-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar {
  height: 600px;
}

.event-search-form .row {
  align-items: flex-end;
}

/* Estilos para aplicar el color primario a cada opción */
.react-select__option {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.react-select__option--is-focused {
  background-color: var(--primary-color) !important;
  color: #fff !important;
}

.react-select__option--is-selected {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
}

/* Elimina el borde azul al enfocar */
.react-select__control--is-focused {
  border-color: var(--primary-color) !important; /* Aplica el color primario al borde */
  box-shadow: 0 0 0 1px var(--primary-color) !important; /* Ajusta la sombra del borde */
}

